<nav class="navbar navbar-expand-lg bg-body-tertiary " >
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <a type="button" class="btn btn-light" href="/">Consultar</a>
    <a type="button" class="btn btn-light" href="/CadEmpresa">Cadastro de empresa</a>
    <a type="button" class="btn btn-light" href="/CadEquipamento">Cadastro de equipamento</a>
    <a type="button" class="btn btn-light" href="/CadPartEmpresa">Cadastro de particularidade de empresa</a>
    <a type="button" class="btn btn-light" href="/CadPartEquipamento">Cadastro de particularidade de equipamento</a>
    </div>
  </div>
</nav>
