<%- include ('partials/header.ejs') %>
<body>
<%- include ('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="formulario-perguntas">
            <div class="card-header">
                <h3>Cadastro de equipamento</h3>  
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarEquipamento"> 
                    <label>Nome do equipamento</label>
                    <input type="text" placeholder="Nome do equipamento" class="form-control" name="CadEquipamento">
                    </br>
                    <button class="btn btn-outline-danger">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs') %>

